<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyner.gp_learning.orm_related.mybatis.mapper.MemberMapper">


    <cache type="org.mybatis.caches.redis.RedisCache"
            eviction="FIFO"
            flushInterval="60000"
    size="512" readOnly="true"></cache>


    <resultMap id="memberMap" type="Member">
        <result column="id" property="_id"></result>
    </resultMap>

    <select id="selectAllMember" resultType="Member">
      select * from t_member
    </select>

    <select id="selectById" resultType="Member">
        select * from t_member t where t.id =#{0}
    </select>

    <select id="selectByName" resultMap="memberMap">
        select * from t_member t where t.name = #{name}

    </select>

</mapper>